.chat-main
  .chat-main__group
    .chat-main__group__title
      %p.group-name
        = @group.name
      %p.member-name
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to "/groups/#{@group.id}/edit", class: "edit__btn" do
      Edit
  .message
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'form-text', placeholder: 'type a message'
      .input-box        
        = f.label :image, class: 'input-box__image' do
          =icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'send-btn'