.side-bar 
  .side-bar__user
    .side-box
      %p.side-box__user
        = current_user.name
      %ul.side-box__icon
        %li.side-box__icon__edit
          = link_to new_group_path, class: "icon" do
            = icon('fas', 'edit')
        %li.side-box__icon__cog
          = link_to edit_user_path(current_user), class: "icon" do
            =icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        =link_to "#" do
          .group__group-name
            = group.name
          .group__letest-message
            まだメッセージがありません